body {
	padding:3%;
}

h1 {
	text-align: center;
	color:#D5B6AE
}

p {
	text-align:center;
	font-size:24px;
	font-family:Garamond;
}

.pNormal {
	font-size:16px;
	font-family:'Times New Roman', Times, serif;
}

.pTitle {

	white-space:pre-wrap;
	font-size:24px;
	color:#bdbdbd;
	font-family: 'Arial';
	text-transform: uppercase;
	letter-spacing: .3rem;
	padding-left:10%;
	padding-right:10%;
	font-weight:bold;
}

#checkAvailability {
	text-align: center;
	color:white;
	background-color: #D5B6AE;
}

button a {
	color:white;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }